<main class="main-content">
  <h1>Información sobre el Sistema Linfático</h1>
  <div class="cards-container">
    <a href="/linfoides1" class="card">
      <span></span>
      <div class="content">
        <img src="/imagenes/lab.jpg" alt="Linfoides">
        <p>LINFOIDES</p>
      </div>
    </a>
    <a href="/linfoides2" class="card">
      <span></span>
      <div class="content">
        <img src="/imagenes/lab1.jpg" alt="Mieloides">
        <p>MIELOIDES</p>
      </div>
    </a>
  </div>
</main>
