<main class="main-content">
  <a href="/linfoides1" class="back-button">Volver</a>
    <h1>Leucemia de Células Peludas (Tricoleucemia)</h1>
    <p>Explora las imágenes y descripciones del recurso histológico con tinción de Wright, objetivo 100x.</p>
<!-- Revisado -->
    <!-- ====== Carrusel de imágenes ====== -->
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">

        <article class="bloque">
          <img src="imagenes/recursos/leul92.png" alt="Leucemia de células peludas – imagen 1" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Células de tamaño grande, con abundante citoplasma basófilo, que extiende prolongaciones finas, núcleos grandes redondos con cromatina condensada, no evidencian nucleolos, corresponden a linfocitos displásticos característicos de la Leucemia de células peludas o tricoleucemia. Médula ósea. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul93.png" alt="Leucemia de células peludas – imagen 2" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Células de tamaño medio a grande, con abundante citoplasma basófilo, que extiende prolongaciones finas; núcleos grandes redondos que poseen una cromatina laxa-gruesa y denotan un nucleolo facilmente visible por su gran tamaño. Médula ósea. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul94.png" alt="Leucemia de células peludas – imagen 3" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Células que presentan extensiones citoplásmicas que le dan un aspecto de vellosidades, presentan cromatina nuclear gruesa, algunas evidencian nucleolos no bien definidos. Se observan sombras de Gumprecht. Sangre periférica. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul95.png" alt="Leucemia de células peludas – imagen 4" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Células con citoplasma moderadamente basófilo que extiende prolongaciones, núcleo con cromatina gruesa que evidencia nucleolos poco definidos. A) Neutrófilo maduro. Sangre periférica. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul96.png" alt="Leucemia de células peludas – imagen 5" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Linfocitos con citoplasma basófilo  que extiende prolongaciones y presenta un núcleo con cromatina gruesa, con evidentes nucleolos poco definidos. Sangre periférica. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul97.png" alt="Leucemia de células peludas – imagen 6" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Abundantes linfocitos con citoplasma basófilo que extiende prolongaciones, presentan un núcleo regular con cromatina gruesa y algunas evidencia nucleolos poco definidos. Sangre periférica. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul98.png" alt="Leucemia de células peludas – imagen 7" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Células con citoplasma basófilo que extiende prolongaciones y presentan núcleos con cromatina gruesa y evidentes nucleolos poco definidos. Sangre periférica. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul99.png" alt="Leucemia de células peludas – imagen 8" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Células con citoplasma basófilo que extiende prolongaciones, núcleo con cromatina gruesa que presenta nucleolos poco evidentes. A) Linfocito grande. Extendido sanguíneo. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul100.png" alt="Leucemia de células peludas – imagen 9" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Células con citoplasma moderadamente basófilo que extiende prolongaciones, presenta un núcleo con nucleolos poco evidentes y cromatina gruesa. (*) Posee granulación azurófilo. Extendido sanguíneo. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul101.png" alt="Leucemia de células peludas – imagen 10" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Células con citoplasma que extiende prolongaciones y núcleo con evidentes nucleolos poco definidos y cromatina gruesa. Extendido sanguíneo. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul102.png" alt="Leucemia de células peludas – imagen 11" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Linfocitos con citoplasma basófilo que extiende prolongaciones, cromatina gruesa y nucleolos definidos; A) Eosinófilo. Extendido sanguíneo. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul103.png" alt="Leucemia de células peludas – imagen 12" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Células con abundante citoplasma basófilo que extiende prolongaciones, núcleo con evidentes nucleolos y cromatina gruesa. Extendido sanguíneo. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul104.png" alt="Leucemia de células peludas – imagen 13" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Células con citoplasma que extiende prolongaciones, núcleo con evidentes nucleolos y cromatina gruesa. Extendido sanguíneo. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul105.png" alt="Leucemia de células peludas – imagen 14" class="clickable-img" />
          <p>Leucemia de células peludas (tricoleucemia). Células con citoplasma que extiende prolongaciones, núcleo con evidentes nucleolos y cromatina gruesa. Extendido sanguíneo. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

      </div>

      <div class="carousel-controls">
        <button class="btn" id="prevBtn">← Anterior</button>
        <div class="counter" id="counter">1 de 14</div>
        <button class="btn" id="nextBtn">Siguiente →</button>
      </div>
    </div>
</main>

  <!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
