<main class="main-content">
  <a href="/linfoides2" class="back-button">Volver</a>
    <h1>Leucemia Granulocítica Crónica / Leucemia Mieloide Crónica (LGC-LMC)</h1>
    <p>Recurso histológico: Observaciones de médula ósea con tinción de Wright, objetivo 100×.</p>
<!--Revisado-->
    <!-- ===== Carrusel de imágenes ===== -->
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">

       <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_1.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica crónica o mieloide crónica. Celularidad mieloide: se observan diferentes etapas de maduración de la línea granulocítica. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_2.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica crónica o mieloide crónica. Celularidad mieloide: se observan diferentes etapas de maduración de la línea granulocítica. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_3.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica crónica o mieloide crónica. Celularidad mieloide: se observan diferentes etapas de maduracion de la línea granulocítica, además de numerosos neutrófilos maduros y etapas intermedias. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_4.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica crónica o mieloide crónica. Se observan diferentes etapas de maduración de la línea granulocítica: A) Mieloblastos tipo I, B) Promielocitos C) Mielocito D) Basófilo, E) Neutrófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_5.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica cronica o mieloide cronica. Celularidad mieloide: se observan diferentes etapas de maduración de la línea granulocítica. A) Mielocito neutrófilo y B) mielocito eosinófilo; neutrófilos maduros y etapas intermedias. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_6.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica cronica o mieloide crónica. Celularidad mieloide: se observan diferentes etapas de maduración de la línea granulocítica: A) Mielocito eosinófilo, B) Monocito, C) Etapas intermedias, D) Neutrófilos segmentados, E) Basófilo . Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_7.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica crónica o mieloide crónica. Celularidad mieloide: se observan diferentes etapas de maduración de la línea granulocítica: A) mieloblasto, B) Promielocitos, C) Etapas intermedias, D) Eritroblastos ortocromaticos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_8.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica cronica o mieloide cronica. Celularidad mieloide: se observan diferentes etapas de maduración de la línea granulocítica: A) Mieloblasto, B) Basófilo, C) Mielocito eosinófilo D) Etapas intermedias. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_9.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica crónica o mieloide crónica. Celularidad mieloide: se observan diferentes etapas de maduración de la línea granulocítica: A) Promielocitos, B) Mielocito eosinófilo, C) Etapas intermedias, D) Eosinófilos maduros, E) Basófilo. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_10.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica crónica o mieloide crónica. Celularidad mieloide: se observan diferentes etapas de maduración de la línea granulocítica: A) Mieloblasto tipo I, B) Mieloblasto tipo II, C) Promielocitos, D) Mielocito eosinófilo, E) Etapas intermedias, F) Eosinófilo, G) Neutrófilos segmentados. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_11.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica crónica o mieloide crónica. Linaje granulocítico, actividad enzimática positiva para la tinción citoquímica para la Mieloperoxidasa, la cantidad de gránulos presente impide visualizar el nucleo de algunas células, así como su estadio. Médula ósea. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_12.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica crónica o mieloide crónica. Linaje granulocítico, actividad enzimática positiva para la tincion citoquímica para la Mieloperoxidasa, la cantidad de gránulos presente impide visualizar el núcleo de algunas células, así como su estadio. Médula ósea. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_13.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica crónica o mieloide crónica. Linaje granulocítico, actividad enzimática positiva para la tinción citoquímica para la Mieloperoxidasa, se observan pocos gránulos debido a que es una célula inmadura que comienza su producción de gránulos azurófilos (contienen MPO), ambas denotan la presencia de un bastón de Auer. Médula ósea. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_14.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica crónica o mieloide crónica. Células granulocíticas con actividad enzimática positiva para la tinción citoquímica para la Mieloperoxidasa, se observan diversas etapas de maduración, por lo tanto, la positividad varía en función de la producción de gránulos primarios (se observan Mieloblastos tipo II, promielocitos, mielocito, Metamielocito, bandas, segmentados, eosinófilos y basófilos), pero se observan algunas celulas negativas: A) Eritroblasto, B) Mieloblasto muy temprano. Sangre periferica. Tincion de Wright.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mieLGC_15.png" alt="Leucemia Granulocítica Cronica/Leucemia Mieloide Crónica (LGC-LMC)" class="clickable-img" />
        <p>Leucemia granulocítica crónica o mieloide crónica. En la leucemia no se observa más del 3% de monocitos en la circulación. La tinción de esterasas dobles muestra, en color azul, los granulocitos a partir de la etapa de promielocito que son positivos a cloroacetato esterasa, y un monocito en color rojo (*) que es positivo a alfa-naftil acetato esterasa. Sangre periferica. Tincion de Wright.</p>
      </div>


      </div>

      <div class="carousel-controls">
        <button class="btn" id="prevBtn">← Anterior</button>
        <div class="counter" id="counter">1 de 15</div>
        <button class="btn" id="nextBtn">Siguiente →</button>
      </div>
    </div>
</main>

  <!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
