<main class="main-content">
  <a href="/linfoides1" class="back-button">Volver</a>

  <h1>Leucemia Linfoblástica Aguda (L1)</h1>
  <p>Recurso histológico: Observaciones de médula ósea con tinción de Wright (100x).</p>
  <!--Revisado-->
  <div class="carousel-container">
    <div class="carousel-track" id="carouselTrack">
      <!-- Bloque 1 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul1.png" alt="Leucemia L1 – imagen 1" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Linfoblastos pequeños, poseen escaso citoplasma basófilo sin gránulos; el
          núcleo ocupa la mayor parte de la superficie y la cromatina es laxa gruesa, no denotan tan facilmente sus
          nucléolos debido al tamaño de la célula en ocasiones en las células de mayor tamaño pueden ser visibles sus
          nucleolos. Los linfoblastos pueden llegar a presentar la forma de raqueta o "espejos de mano". Médula ósea.
          Tinción de Wright. Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 2 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul2.png" alt="Leucemia L1 – imagen 2" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Linfoblastos de tamaño pequeño homogéneo, escaso citoplasma basófilo,
          cromatina laxa gruesa, algunos presentan forma de raqueta o de espejo de mano. Médula ósea. Tinción de Wright.
          Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 3 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul3.png" alt="Leucemia L1 – imagen 3" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Celularidad homogénea: linfoblastos de tamaño pequeño, escasos de tamaño
          medio, las mas grandes pueden envidenciar nucleolos (A) y una cromatina más fina. Médula ósea. Tinción de
          Wright. Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 4 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul4.png" alt="Leucemia L1 – imagen 4" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Celularidad homogénea en tamaño. Linfoblastos con aspecto de raqueta o
          “espejo de mano”. Médula ósea. Tinción de Wright. Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 5 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul5.png" alt="Leucemia L1 – imagen 5" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Linfoblastos con aspecto de raqueta o “espejo de mano”. Médula ósea. Tinción
          de Wright. Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 6 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul6.png" alt="Leucemia L1 – imagen 6" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Celularidad homogénea en tamaño. Linfoblastos con aspecto de raqueta o
          “espejo de mano”. Médula ósea. Tinción de Wright. Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 7 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul7.png" alt="Leucemia L1 – imagen 7" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Linfoblastos de tamaño homogéneo, escasas con aspecto de raqueta o “espejo
          de mano”. Médula ósea. Tinción de Wright. Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 8 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul8.png" alt="Leucemia L1 – imagen 8" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Linfoblastos característicos con aspecto de raqueta o “espejo de mano”, las
          de tamaño medio poseen un núcleo con cromatina fina y algunos evidencian nucleolos bien definidos, poseen
          escaso citoplasma. Médula ósea. Tinción de Wright. Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 9 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul9.png" alt="Leucemia L1 – imagen 9" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Linfoblastos de tamaño homogéneo, de escaso citoplasma basófilo, poseen un
          núcleo con cromatina laxa-gruesa, presentan nucleolos poco evidentes, celularidad con aspecto de raqueta o
          “espejo de mano”. Médula ósea. Tinción de Wright. Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 10 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul10.png" alt="Leucemia L1 – imagen 10" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Linfoblastos pequeños y escasos de tamaño medio, cromatina laxa-gruesa, poca
          evidencia de nucleolos, escaso citoplasma basófilo; celularidad con aspecto de raqueta o “espejo de mano”.
          Médula ósea. Tinción de Wright. Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 11 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul11.png" alt="Leucemia L1 – imagen 11" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Linfoblastos de tamaño homogéneo, escasa evidencia de nucléolos, cromatina
          laxa-gruesa, escaso citoplasma basófilo, escasa evidencia de celularidad con aspecto de aspecto de raqueta o
          “espejo de mano”. Médula ósea. Tinción de Wright. Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 12 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul12.png" alt="Leucemia L1 – imagen 12" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Linfoblastos de tamaño homogéneo, cromatina laxa‑gruesa, sin evidencia de
          nucléolos, de escaso citoplasma, con hendiduras nucleares que le dan aspecto cerebriforme. Médula ósea.
          Tinción de Wright. Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 13 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul13.png" alt="Leucemia L1 – imagen 13" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Linfoblastos de tamaño homogéneo, cromatina laxa‑gruesa, sin evidencia de
          nucleolos, de escaso citoplasma, con hendiduras nucleares que le dan aspecto cerebriforme. Médula ósea.
          Tinción de Wright. Objetivo de inmersión 100×.</p>
      </article>

      <!-- Bloque 14 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul14.png" alt="Leucemia L1 – imagen 14" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Linfoblastos pequeños de tamaño homogéneo, las de tamaño medio presentan
          pequeñas hendiduras nucleares y escaso citoplasma. Médula ósea. Tinción de Wright. Objetivo de inmersión 100×.
        </p>
      </article>

      <!-- Bloque 15 -->
      <article class="bloque">
        <img src="imagenes/recursos/leul15.png" alt="Leucemia L1 – imagen 15" class="clickable-img" />
        <p>Leucemia linfoblástica aguda L1. Linfoblastos pequeños de escaso citoplasma, cromatina laxa‑gruesa, poca
          evidencia de nucleolos. (A) Prolinfocito. Médula ó
      </article>
    </div>

    <div class="carousel-controls">
      <button class="btn" id="prevBtn">← Anterior</button>
      <div class="counter" id="counter">1 de 15</div>
      <button class="btn" id="nextBtn">Siguiente →</button>
    </div>
  </div>
</main>

<!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>