<main class="main-content">
  <a href="/linfoides1" class="back-button">Volver</a>

  <h1>Leucemia Linfoblástica Aguda (L2)</h1>
  <p>Explora las imágenes y descripciones del recurso histológico con tinción de Wright, objetivo 100×.</p>

  <div class="carousel-container">
    <div class="carousel-track" id="carouselTrack">
      <!--Revisado-->
        <!-- Todos los bloques que proporcionaste -->
        <!-- 15 bloques -->
        <article class="bloque">
          <img src="imagenes/recursos/LLA2.png"  alt="Leucemia L2 – imagen 1"  class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblastos de tamaño variable, presentan una cromatina fina y nucleolos bien delimitados, algunas poseen hendiduras nucleares que le dan aspecto "cerebriforme" (*), citoplasma basófilo de moderado a abundante, generalmente sin gránulos. Líquido cefalorraquídeo. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/leul17.png" alt="Leucemia L2 – imagen 2" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. A) Linfoblasto de tamaño grande, escaso citoplasma basófilo, núcleo grande con cromatina fina, evidencia un gran nucleolo. B) Linfoblasto con moderado citoplasma basófilo, evidencia vacuolización citoplásmica, posee un núcleo que ocupa la mayor parte de la célula, su cromatina es fina. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/LLA2(3).png" alt="Leucemia L2 – imagen 3" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblastos de tamaño medio: A) Linfoblasto con abundante citoplasma basófilo que tiene forma de raqueta o "espejo de mano", posee un núcleo con cromatina fina y evidencia un nucleolo prominente; B) Linfoblasto de tamaño medio con escaso citoplasma basófilo, posee un núcleo que ocupa la mayor parte de la célula con una cromatina fina, denota dos nucleolos bien definidos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/LLA2(4).png" alt="Leucemia L2 – imagen 4" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblasto de tamaño medio, con escaso citoplasma basófilo, posee un núcleo con hendiduras que le dan aspecto de tipo cerebriforme, evidencia dos nucleolos bien delimitados. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/leul20.png" alt="Leucemia L2 – imagen 5" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblasto de tamaño medio, con moderado citoplasma basófilo, posee un núcleo con hendiduras que le dan aspecto de tipo cerebriforme, presenta cromatina fina, evidencia tres nucleolos bien delimitados. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/leul21.png" alt="Leucemia L2 – imagen 6" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblasto de tamaño medio, con escaso citoplasma basófilo, posee un núcleo con hendiduras que le dan aspecto de tipo cerebriforme, cromatina fina con evidencia de un nucleolo. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/leul22.png" alt="Leucemia L2 – imagen 7" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblastos de tamaño medio a grande, con escaso citoplasma basófilo, poseen un núcleo con hendiduras que le dan aspecto de tipo cerebriforme, evidencia nucleolos prominentes. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/leul23.png" alt="Leucemia L2 – imagen 8" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblastos de tamaño medio a grande, con escaso citoplasma basófilo, poseen un núcleo con hendiduras que le dan aspecto de tipo cerebriforme, evidencia nucleolos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/leul24.png" alt="Leucemia L2 – imagen 9" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblastos de tamaño pequeños, medianos y grandes, con citoplasma basófilo sin evidencia de granulación, poseen núcleos de formas irregulares, algunos con hendiduras nucleares que le dan aspecto de tipo cerebriforme, cromatina fina con presencia de nucleolos bien definidos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/leul25.png" alt="Leucemia L2 – imagen 10" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblastos de tamaño variable (pequeño, mediano y grande), poseen citoplasma basófilo, presentan núcleos irregulares con cromatina fina que evidencia nucleolos bien delimitados, presentan hendiduras nucleares que le dan aspecto de tipo cerebriforme. A) Linfocito pequeño. B) Linfoblastos que presentan vacuolización citoplásmica. Médula ósea. Tinción de Wright. Objetivo 100x inmersión.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/leul26.png" alt="Leucemia L2 – imagen 11" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblastos de tamaño variable (pequeño, mediano y grande), poseen citoplasma basófilo, núcleos irregulares con cromatina fina que evidencia nucleolos definidos, presentan hendiduras nucleares que le dan aspecto de tipo cerebriforme (*). Líquido cefalorraquídeo. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/leul27.png" alt="Leucemia L2 – imagen 12" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblastos de tamaño variable (pequeño, mediano y grande), poseen citoplasma basófilo, presentan núcleos irregulares con cromatina fina que evidencia nucleolos bien definidos, presentan hendiduras nucleares que le dan aspecto de tipo cerebriforme. A) Linfocitos pequeños con escaso citoplasma basófilo, núcleo que ocupa la mayor parte de la célula, cromatina condensada sin evidencia de nucleolos. Líquido cefalorraquídeo. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/leul28.png" alt="Leucemia L2 – imagen 13" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblastos de tamaño variable (pequeño, mediano y grande), poseen citoplasma basófilo, presentan núcleos irregulares con cromatina fina que evidencia nucleolos bien delimitados, presentan hendiduras nucleares que le dan aspecto de tipo cerebriforme. A) Linfocito con abundante citoplasma basófilo, presenta vacuolización citoplásmica, un núcleo excéntrico con cromatina laxa-gruesa. Líquido cefalorraquídeo. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/leul29.png" alt="Leucemia L2 – imagen 14" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblastos de tamaño variable con escaso citoplasma basófilo y núcleo redondo con cromatina fina evidencian nucleolos. Sangre periférica. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos/leul30.png" alt="Leucemia L2 – imagen 15" class="clickable-img" />
          <p>Leucemia linfoblástica aguda L2. Linfoblastos de tamaño mediano a grande con escaso citoplasma basófilo y núcleo con cromatina fina, dos de ellos evidencian nucleolos bien demarcados. Sangre periférica. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>
    </div>

    <div class="carousel-controls">
      <button class="btn" id="prevBtn">← Anterior</button>
      <div class="counter" id="counter">1 de 15</div>
      <button class="btn" id="nextBtn">Siguiente →</button>
    </div>
  </div>
</main>

<!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
