<a href="/informative" class="back-button">Volver</a>

<main class="main-content">
  <h1>Contenido detallado - Mieloides</h1>

  <div class="cards-container">
    <a href="/lma_m0">
      <div class="card"><span></span><div class="content"><img src="/imagenes/recursos2/img1.png"><p>LMA M0 - Sin diferenciación</p></div></div>
    </a>

    <a href="/lma_m1">
      <div class="card"><span></span><div class="content"><img src="/imagenes/recursos2/img14.png"><p>LMA M1 - Poca diferenciación</p></div></div>
    </a>

    <a href="/lma_m2">
      <div class="card"><span></span><div class="content"><img src="/imagenes/recursos2/img29.png"><p>LMA M2 - Con diferenciación</p></div></div>
    </a>

    <a href="/lma_m3">
      <div class="card"><span></span><div class="content"><img src="/imagenes/recursos2/mielm3_1.png"><p>LMA M3 - Promielocítica</p></div></div>
    </a>

    <a href="/lma_m4">
      <div class="card"><span></span><div class="content"><img src="/imagenes/recursos2/mielm4_1.png"><p>LMA M4 - Mielomonocítica</p></div></div>
    </a>

    <a href="/lma_m5a">
      <div class="card"><span></span><div class="content"><img src="/imagenes/recursos2/mielm5_1.png"><p>LMA M5a - Monoblástica poco diferenciada</p></div></div>
    </a>

    <a href="/lma_m5b">
      <div class="card"><span></span><div class="content"><img src="/imagenes/recursos2/mielm5b_1.png"><p>LMA M5b - Monoblástica bien diferenciada</p></div></div>
    </a>

    <a href="/lma_m6">
      <div class="card"><span></span><div class="content"><img src="/imagenes/recursos2/M6_1.png"><p>LMA M6 - Eritroide</p></div></div>
    </a>

    <a href="/lma_m7">
      <div class="card"><span></span><div class="content"><img src="/imagenes/recursos2/M7_1.png"><p>LMA M7 - Megacarioblástica</p></div></div>
    </a>

    <a href="/lgc_lmc">
      <div class="card"><span></span><div class="content"><img src="/imagenes/recursos2/mieLGC_1.png"><p>LGC-LMC - Granulocítica Crónica</p></div></div>
    </a>

    <a href="/lmmc">
      <div class="card"><span></span><div class="content"><img src="/imagenes/recursos2/mieLMC_1.png"><p>LMMC - Mielomonocítica Crónica</p></div></div>
    </a>
  </div>
</main>
