<a href="/informative" class="back-button">Volver</a>

<main class="main-content">
  <h1>Contenido detallado - Linfoides</h1>

  <div class="cards-container">
    <a href="/lia1">
      <div class="card">
        <span></span>
        <div class="content">
          <img src="/imagenes/lab.jpg" alt="LIA1">
          <p>Leucemia Linfoblástica Aguda L1</p>
        </div>
      </div>
    </a>

    <a href="/lia2">
      <div class="card">
        <span></span>
        <div class="content">
          <img src="/imagenes/lab.jpg" alt="LIA2">
          <p>Leucemia Linfoblástica Aguda L2</p>
        </div>
      </div>
    </a>

    <a href="/lia3">
      <div class="card">
        <span></span>
        <div class="content">
          <img src="/imagenes/lab.jpg" alt="LIA3">
          <p>Leucemia Linfoblástica Aguda L3</p>
        </div>
      </div>
    </a>

    <a href="/llc">
      <div class="card">
        <span></span>
        <div class="content">
          <img src="/imagenes/lab.jpg" alt="LLC">
          <p>Leucemia Linfocítica Crónica (LLC)</p>
        </div>
      </div>
    </a>

    <a href="/lnk">
      <div class="card">
        <span></span>
        <div class="content">
          <img src="/imagenes/lab.jpg" alt="LNK">
          <p>Leucemia NK</p>
        </div>
      </div>
    </a>

    <a href="/lp">
      <div class="card">
        <span></span>
        <div class="content">
          <img src="/imagenes/lab.jpg" alt="LP">
          <p>Leucemia Prolinfocítica</p>
        </div>
      </div>
    </a>

    <a href="/lcpt">
      <div class="card">
        <span></span>
        <div class="content">
          <img src="/imagenes/lab.jpg" alt="LCPT">
          <p>Leucemia de Células Peludas (Tricoleucemia)</p>
        </div>
      </div>
    </a>
  </div>
</main>
