<main class="main-content">
  <a href="/linfoides2" class="back-button">Volver</a>
    <h1>Leucemia Promielocítica (LMA M3)</h1>
    <p>Recurso histológico: Observaciones de médula ósea con tinción de Wright (100x).</p>
<!--Revisado-->
    <!-- ====== Carrusel de imágenes ====== -->
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">
        <!-- Aquí insertar todos los div.bloque como article.bloque -->
        <!-- Ejemplo: -->
        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_1.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Célula de tamaño grande, abundante citoplasma basófilo en el que se ven inmersos gránulos primarios (azurófilos), presenta un núcleo con cromatina laxa-gruesa, pueden o no observarse uno o dos nucleolos, corresponde a un Promielocito. Médula ósea. Tinción Wright. Objetivo de inmersión 100x.</p>
        </article>
        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_2.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Promielocito, tinción citoquímica positiva para actividad enzimática para la mieloperoxidasa. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_3.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Celularidad mieloide, predominan los promielocitos leucémicos, se observan neutrófilos maduros. Médula ósea. Tinción Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_4.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Celularidad granulocítica: A) Mieloblasto tipo I, B) Promielocitos leucémicos, C) Mielocito eosinófilo, D) Mielocito neutrófilo, E) Metamielocito neutrófilo, F) Neutrófilos maduros. Medula osea. Tincion Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_5.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Celularidad granulocítica: A) Promielocitos, B) Células híbridas de aspecto monocitoide, C) Neutrofilos maduros. Medula ósea. Tincion Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_6.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3 microgranular. A) Promielocito microgranular, poseen tan abundantes gránulos azurófilos que los detalles nucleares (cromatina y nucleolos) quedan ocultos, B) Célula híbrida de aspecto monocitoide. Sangre periférica. Tinción Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_7.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3 microgranular. Células híbridas de aspecto monocítico, promielocitos leucémicos, presentan gránulos azurófilos pequeños, núcleo excéntrico y citoplasma basófilo. Sangre periférica. Tinción Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_8.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Célula granulocítica displásica con abundantes bastones de Auer, forma de empalizada, núcleo de aspecto picnótico. Sangre periférica. Tinción Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_9.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Célula granulocítica displasica con abundantes bastones de Auer, forma de empalizada, núcleo de aspecto picnótico (célula de Faggot). Sangre periférica. Tinción Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_10.png" alt="Leucemia Promielocítica (LMA M3) Imagen" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Promielocitos, tinción citoquímica positiva para la actividad enzimática de la mieloperoxidasa, evidencian abundantes cuerpos de Auer. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_11.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Célula de Faggot, tincion citoquímica positiva para la actividad enzimática de la mieloperoxidasa. Sangre Periferica. Tincion citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_12.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Promielocitos, tincion citoquímica positiva para la actividad enzimática de la mieloperoxidasa, denotan abundantes bastones de Auer. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_13.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Promielocitos y células de Faggot, tinción citoquímica positiva para la actividad enzimática de la mieloperoxidasa, algunas celulas evidencian abundantes bastones de Auer de gran tamaño. Medula osea. Tincion citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_14.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Promielocito leucémicos y celulas de Faggot tincion citoquímica positiva para la actividad enzimática de la mieloperoxidasa, la mayoría de las celularidad denota abundantes bastones de Auer. Medula osea. Tincion citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mielm3_15.png" alt="Leucemia Promielocítica (LMA M3)" class="clickable-img" />
          <p>Leucemia Promielocítica M3. Promielocito leucémicos y celulas de Faggot tincion citoquímica positiva para la actividad enzimática de la mieloperoxidasa, la mayoría de las celularidad denota abundantes bastones de Auer. Medula osea. Tincion citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

      </div>

      <div class="carousel-controls">
        <button class="btn" id="prevBtn">← Anterior</button>
        <div class="counter" id="counter">1 de X</div>
        <button class="btn" id="nextBtn">Siguiente →</button>
      </div>
    </div>
</main>

  <!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
