<main class="main-content">
  <a href="/linfoides2" class="back-button">Volver</a>
    <h1>Leucemia Mieloide Aguda Megacarioblástica (LMA M7)</h1>
    <p>Recurso histológico: Observaciones de médula ósea con tinción de Wright, objetivo 100×.</p>
<!--Revisado-->
    <!-- ===== Carrusel de imágenes ===== -->
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">

        <div class="bloque">
        <img src="imagenes/recursos2/M7_1.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Célula grande que presenta escaso citoplasma basófilo que extiende prolongaciones citoplásmicas, posee un núcleo grande con cromatina fina que evidencia nucleolos, corresponde a un Megacarioblasto, también conocida como célula con forma de timón de barco. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_2.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Megacarioblastos, algunos presentan el citoplasma con aspecto de timón de barco. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_3.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Megacarioblastos, cromatina fina y evidencia nucleolos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_4.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Megacarioblastos con prolongaciones citoplasmáticas, de aspecto de timón de barco, citoplasma basófilo, núcleo grande con cromatina fina evidencia nucleolos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_5.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. A) Megacarioblasto citoplasma basófilo con prolongaciones citoplasmáticas de aspecto de timón de barco, B) células de aspecto mieloide, cromatina laxa-gruesa, evidencian nucleolos, aparato de Golgi, citoplasma basófilo, morfológicamente indeferenciados del mieloblasto. Médula ósea. Tinción de Wright. Estas células fueron positivas para CD 41 y CD 61. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_6.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Megacarioblastos, el citoplasma de las células de estirpe megacariocítica, frecuentemente muestran prolongaciones citoplásmicas, la cromatina es fina, con nucleolos poco prominentes. Médula ósea Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_7.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Megacarioblastos poseen cromatina fina, poca evidencia de nucleolos, con citoplasma basófilo que evidencia granulación azurófila negativa a tinción citoquímica para la Mieloperoxidasa, con extensiones citoplásmicas que le da un aspecto de flama. Médula ósea Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_8.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Megacarioblasto con extensiones citoplásmicas en forma de flama. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_9.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Megacarioblasto displásico, presenta binucleación, citoplasma basófilo con prolongaciones citoplásmicas que le dan aspecto de timón de barco. Médula ósea Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_10.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Megacarioblasto, cromatina fina que evidencia nucleolos, citoplasma basófilo con prolongaciones citoplásmicas que le dan aspecto de timón de barco. Médula ósea Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_11.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Megacarioblastos, uno de ellos tiene prolongaciones citoplásmicas y granulación azurófila negativa a tinción citoquímica para la mieloperoxidasa y además presentan vacuolización citoplásmica. Médula ósea Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_12.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Celularidad de aspecto híbrido, que presentan una segmentación nuclear displásica, presentan un citoplasma basófilo con gránulos azurófilos, solamente distinguible con marcaje inmunohistoquímico para celularidad megacarioblástica, granulación azurófíla negativa a la tinción citoquímica para la Mieloperoxidasa. Médula ósea Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_13.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Celularidad de aspecto híbrido, que presentan una segmentación nuclear displásica, presentan un citoplasma basófilo con gránulos azurófilos, solamente distinguible con marcaje inmunohistoquímico para celularidad megacarioblástica, granulación azurófila negativa a la tinción citoquímica para la Mieloperoxidasa. Médula ósea Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_14.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Celularidad de aspecto mieloblástico, denota un evidente aparato de Golgi, cromatina fina evidencia nucleolos, presentan un citoplasma basófilo con gránulos azurófilos, solamente distinguible con marcaje inmunohistoquímico para celularidad megacarioblástica, granulación azurófila negativa a la tinción citoquímica para la Mieloperoxidasa. Médula ósea Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M7_15.png" alt="Leucemia Mieloide Aguda Megacarioblástica (LMA M7)" class="clickable-img" />
        <p>Leucemia mieloide aguda megacarioblástica M7. Celularidad de aspecto híbrido, que presentan una segmentación nuclear con un grado de displasia, las otras células poseen características morfológicas mieloblásticas, denotan un aparato de Golgi, cromatina fina con presencia de nucleolos, presentan un citoplasma basófilo con gránulos azurófilos, solamente distinguibles. con marcaje inmunohistoquímico para celularidad megacarioblástica, granulación azurófila negativa a la tinción citoquímica para la Mieloperoxidasa. Médula ósea Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>


      </div>

      <div class="carousel-controls">
        <button class="btn" id="prevBtn">← Anterior</button>
        <div class="counter" id="counter">1 de 15</div>
        <button class="btn" id="nextBtn">Siguiente →</button>
      </div>
    </div>
</main>

  <!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
