<main class="main-content">
  <a href="/linfoides2" class="back-button">Volver</a>
    <h1>Leucemia Mielomonocítica Aguda (LMA M4 / M4eo)</h1>
    <p>Recurso histológico: Observaciones de médula ósea con tinción de Wright, objetivo 100×.</p>

    <!-- ===== Carrusel de imágenes ===== -->
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">
<!--revisado-->
        <!-- M4 (15 imágenes) -->
        <!-- 1 -->
        <article class="bloque">
        <img src="imagenes/recursos2/mielm4_1.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. Células de tamaño grande, poseen abundante citoplasma basófilo y un núcleo con cromatina fina en el que se observan destacados nucleolos de gran tamaño, corresponden a Monoblastos. Sangre periférica. Tincion de Wright. Objetivo de inmersion 100x.</p>
      </article>
      <!-- Bloque 2-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_2.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. Monoblasto, presenta vacuolización citoplásmica, cromatina fina y evidencia nucleolos prominentes, citoplasma basófilo. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>
      <!-- Bloque 3-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_3.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. Celula de estirpe monocítica, evidencia un bastón de Auer de gran tamaño, presenta vacuolización citoplásmica, citoplasma moderadamente basófilo. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>
      <!-- Bloque 4-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_4.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. Celularidad de estirpe monocítica. Sangre periférica. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>
      <!-- Bloque 5-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_5.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. A) Monoblastos, algunos presentan vacuolizacion citoplásmica, poseen abundante citoplasma basófilo, cromatina fina y evidencian nucleolos de gran tamaño, B) Estirpe monocítica. Sangre periférica. Tincion de Wright. Objetivo de inmersión 100x.</p>
      </article>
      <!-- Bloque 6-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_6.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. A) Monoblastos. B) Eritroblasto policromatófilo C) Mieloblasto, D) Eritroblasto ortocromático. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>
      <!-- Bloque 7-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_7.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. Precursores de la línea mieloide: A) Mieloblastos tipo II, poseen bastones de Auer, citoplasma basofilo, cromatina fina y nucleolos y B) Monoblastos, citoplasma moderadamente basófilo, cromatina fina y evidencia nucleolos prominentes. Médula ósea. Tinción de Wirght. Objetivo de inmersión 100x.</p>
      </article>
      <!-- Bloque 8-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_8.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. La fotomicrografia muestra celularidad mieloide: A) Mieloblasto tipo II con bastones de Auer. B) Monocitos y linaje granulocitico maduro: C) Neutrófilos con sutiles cambios displásicos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>
      <!-- Bloque 9-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_9.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. A) Mieloblasto con un baston de Auer. B) Celularidad de estirpe monocítica. Médula osea. Tincion de Wright. Objetivo de inmersión 100x.</p>
      </article>
      <!-- Bloque 10-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_10.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. A) Promonocito (se observa el núcleo plegado, con dobleces traslúcidos y su cromatina es laxa). B. Mielocito eosinófilo con gránulos secundarios polarizados a un extremo de la célula. Médula ósea. Tincion de Wright. Objetivo de inmersión 100x.</p>
      </article>
      <!-- Bloque 11-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_11.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. A) Celularidad de estirpe monocítica. B) Monoblastos, C) Mieloblasto tipo I, D) Celularidad de estirpe monocítica, E) Celularidad de estirpe monocítica. Celularidad con un grado de displasia. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>
      <!-- Bloque 12-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_12.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. A) Monoblastos, B) Promonocitos, C) Monocitos, algunos presentan vacuolización citoplásmica. Medula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>
      <!-- Bloque 13-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_13.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. Células morfológicamente imposibles de clasificar dentro de la línea monocítica o dentro de la línea neutrofílica, por lo tanto, se les denomina celulas híbridas, se observa un neutrófilo displásico con núcleo polisegmentado. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>
      <!--Bloque 14-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_14.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4 tenida con la tecnica para esterasas dobles. Las celulas de color rojo, teñidas para alfa-naftil acetato esterasa corresponden a la estirpe monocítica; las celulas color azul, teñidas para cloroacetato esterasa, corresponden a la línea neutrofílica. Tinción citoquímica para esterasas dobles (alfa-naftil acetato esterasa y cloro acetato esterasa). Médula ósea. Objetivo de inmersión 100x.</p>
      </article>
      <!--Bloque 15-->
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4_15.png" alt="Leucemia Mielomonocítica Aguda (LMA M4)" class="clickable-img" />
        <p>Leucemia mielomonocítica aguda M4. 1. Célula de estirpe monocítica con escasos y pequeños gránulos positivos a la tinción de mieloperoxidasa. 2. Mieloblasto con dos bastones de Auer, positivos a la actividad de mieloperoxidasa. 3. Célula de estirpe monocítica, 4. Célula de estirpe neutrofílica positiva para actividad enzimática para cloroacetato esterasa. Tinción dobles esterasas (alfa-naftil acetato esterasa y cloro acetato esterasa). Médula ósea. Objetivo de inmersión 100x.</p>
      </article>
   

  
     
      
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_1.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. A) Monoblastos, B) Mieloblastos y un eosinófilo destruido cuyos gránulos estan esparcidos a su alrededor. Medula ósea. Tincion de Wright. Objetivo de inmersión 100x.</p>
      </article>
      
      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_2.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. Celularidad de linajes mieloides y monociticos, con abundante presencia de eosinofilia, presencia de células híbridas, difíciles de clasificar, se observan eosinófilos característicos por la granulación eosinofílica que presenta. Medula ósea. Tincion de Wright.Objetivo de inmersión 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_3.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. A) Mieloblasto, B) Monoblastos, C) Precursores eosinófilos, D) Eosinófilos que sufrieron ruptura de su citoplasma y sus gránulos quedaron esparcidos, E) Célula de estirpe monocítica. Medula ósea. Tinción de Wright. Objetivo de inmersion 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_4.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. Celularidad monocítica y eosinofílica: A) Monoblasto, B) Mieloblastos, C) Precursores eosinófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_5.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo.Celularidad mieloide: A) Monoblastos, B) Mieloblastos, C) Precursores eosinofílicos, D) Celularidad de estirpe monocítica, E) Eritroblasto basófilo, F) Célula plasmática. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_6.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. Celularidad mieloide y monocítica: A) Celularidad de estirpe monocítica, B) Monoblasto, C) Precursores de eosinófilos, D) Neutrófilo maduro. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_7.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. Celularidad mieloide y monoctica: A) Monocitos; la demás celularidad corresponde a precursores de eosinófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_8.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. Celularidad mieloide: mieloblastos, monoblastos, celularidad de estirpe monocítica y eosinófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_9.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. Celularidad mieloide: mieloblastos, monoblastos, celularidad de estirpe monocítica y precursores eosinofilos. Médula ósea. Tincion de Wright. Objetivo de inmersión 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_10.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. Celularidad mieloide: mieloblastos, monoblastos, celularidad de estirpe monocítica y eosinófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_11.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. Células de estirpe mieloide y monocítica: A) Monoblasto, B) Celularidad de estirpe monocítica, C) Mieloblastos, D) Eosinófilos, E) Célula plasmática. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_12.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. Células mixta: mieloide y monocitica, abundante celularidad de estirpe eosinofílica. Medula ósea. Tincion de Wright. Objetivo de inmersión 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_13.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. Células mixta: mieloide y monocítica, gran cantidad de precursores eosinófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_14.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. Células mixta: mieloide y monocítica, gran cantidad de precursores eosinófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>

      <article class="bloque">
        <img src="imagenes/recursos2/mielm4eo_15.png" alt="Leucemia Mielomonocítica Aguda Eosinofílica (LMA M4eo)" class="clickable-img" />
        <p>Leucemia aguda mielomonoblástica M4eo. Células mixta, mieloide: A) Promielocito, C) Precursores eosinófilos y monocítica: B) Monocito. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </article>

      
      </div>

      <div class="carousel-controls">
        <button class="btn" id="prevBtn">← Anterior</button>
        <div class="counter" id="counter">1 de 30</div>
        <button class="btn" id="nextBtn">Siguiente →</button>
      </div>
    </div>
</main>

  <!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
