<main class="main-content">
  <a href="/linfoides2" class="back-button">Volver</a>
    <h1>Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)</h1>
    <p>Recurso histológico: Observaciones de médula ósea con tinción de Wright, objetivo 100x.</p>
<!--Revisdo-->
    <!-- ====== Carrusel de imágenes ====== -->
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">

           <div class="bloque">
        <img src="imagenes/recursos2/mielm5_1.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. Vista panorámica de la médula osea en una leucemia M5a, mas del 90% de las celulas medulares son monoblastos. Medula osea. Tinción de Wright. Objetivo 40x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_2.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. Celulas un poco mas grandes que los mieloblastos, la cromatina es muy fina, aterciopelada, y los nucleolos son grandes. La relacion nucleo/citoplasma es menor que los mieloblastos, esto es, el citoplasma es más grande en relación con el nucleo. Si las celulas no tienen granulos visibles con el microscopio de luz se denomina Monoblasto tipo I; si tiene pequenos gránulos azurófilos se denomina Monoblasto tipo II, como los observados en la fotomicrografía. Médula osea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_3.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. Monoblastos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_4.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. A) Monoblastos tipo I y B) Monoblastos tipo II con citoplasma abundante y numerosos gránulos azurófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_5.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. B) Monoblastos tipo II con citoplasma abundante y numerosos gránulos azurófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_6.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>80. Leucemia mieloide aguda monoblástica poco diferenciada M5a. A) Monoblasto tipo I y B) Monoblastos II, denotan gránulos azurófilos y vacuolización citoplásmica. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_7.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. Monoblastos tipo I y tipo II, gránulos azurófilos y vacuolización citoplásmica. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_8.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. Monoblastos tipo I, y Monoblasto tipo II, presencia de baston de Auer. Médula ósea. Tincion de Wright. Objetivo de inmersion 100x.
        </p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_9.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. A) Monoblasto tipo I, B) Monoblasto tipo II, C) Promonocito. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_10.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. A) Monoblasto tipo I, B) Monoblasto tipo II, C) Promonocito. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_11.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. A) Monoblastos tipo I y B) Monoblastos tipo II con vacuolización citoplásmica. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_12.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. Monoblastos tipo II. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_13.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. Monoblastos tipo I y tipo II. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_14.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. Monoblastos tipo II. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_15.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. Monoblastos tipo II y B) Promonocito con vacuolización citoplásmica. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5_16.png" alt="Leucemia Mieloide Monoblástica poco diferenciada (LMA M5a)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica poco diferenciada M5a. Monoblastos tipo II. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      </div>

      <div class="carousel-controls">
        <button class="btn" id="prevBtn">← Anterior</button>
        <div class="counter" id="counter">1 de 16</div>
        <button class="btn" id="nextBtn">Siguiente →</button>
      </div>
    </div>
</main>

  <!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
