<main class="main-content">
  <a href="/linfoides2" class="back-button">Volver</a>
    <h1>Leucemia Mieloide Aguda Monoblástica bien diferenciada (LMA M5b)</h1>
    <p>Recurso histológico: Observaciones de médula ósea con tinción de Wright, objetivo 100×.</p>
<!--Revisado-->
    <!-- ===== Carrusel de imágenes ===== -->
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">

        <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_1.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica bien diferenciada M5b. Promonocito, posee abundante citoplasma basófilo, denota un nucleo plegado cuya cromatina es fina, lo cual permite la visibilidad del núcleo en estos pliegues, no se observan nucleolos. Sangre periférica. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_2.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblastica bien diferenciada M5b. Promonocitos y A) Monocito. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_3.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica bien diferenciada M5b. A) Monoblasto tipo I y B) Promonocito, posee abundante citoplasma que presenta un contorno irregular el cual tiene vacuolización citoplásmica, denotan muescas nucleares sin evidencia de nucleolos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_4.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica bien diferenciada M5b. A) Monoblasto tipo I y B) Promonocito. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_5.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblastica bien diferenciada M5b. Promonocitos, uno de ellos denota escasos gránulos azurófilos y vacuolización citoplásmica. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_6.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblastica bien diferenciada M5b. Promonocitos, uno de ellos denota gránulos azurófilos y vacuolización citoplásmica. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_7.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica bien diferenciada M5b. Promonocitos, uno de ellos denota vacuolización citoplásmica. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_8.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica bien diferenciada M5b. Promonocitos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_9.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica bien diferenciada M5b. Promonocito, posee abundante citoplasma basofilo, denota un nucleo plegado cuya cromatina es tan fina que permite la visibilidad de estos pliegues, puede conservar de 1-2 nucleolos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_10.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica bien diferenciada M5b. Promonocito. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_11.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica bien diferenciada M5b. A) Monoblasto y B) Promonocitos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_12.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica bien diferenciada M5b. Monoblastos y macrófago tinción citoquímica actividad enzimatica positiva para alfa-naftil acetato esterasa. Medula osea. Tincion de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_13.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica bien diferenciada M5b. Estirpe monocítica, tinción citóquímica actividad enzimática positiva para alfa-naftil acetato esterasa. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_14.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblástica bien diferenciada M5b. Estirpe monocítica, tinción citoquímica actividad enzimatica positiva para alfa-naftil acetato esterasa. Medula osea. Tincion de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/mielm5b_15.png" alt="Leucemia Mieloide Aguda Monoblastica bien diferenciada (LMA M5b)" class="clickable-img" />
        <p>Leucemia mieloide aguda monoblastica bien diferenciada M5b. Estirpe monocítica, tinción citoquímica actividad enzimática positiva para alfa-naftil acetato esterasa. Medula osea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>


      </div>

      <div class="carousel-controls">
        <button class="btn" id="prevBtn">← Anterior</button>
        <div class="counter" id="counter">1 de 15</div>
        <button class="btn" id="nextBtn">Siguiente →</button>
      </div>
    </div>
</main>

  <!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
