<main class="main-content">
  <a href="/linfoides2" class="back-button">Volver</a>
    <h1>Leucemia Eritroide Aguda / Eritroleucemia (LMA M6)</h1>
    <p>Recurso histológico: Observaciones de médula ósea con tinción de Wright, objetivo 100×.</p>
<!--Revisado-->
    <!-- ===== Carrusel de imágenes ===== -->
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">

      <div class="bloque">
        <img src="imagenes/recursos2/M6_1.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o Eritroleucemia. La fotomicrografía muestra precursores eritrocitarios: A) Célula de tamaño grande, con abundante citoplasma intensamente basófilo, posee un núcleo redondo con cromatina laxa, evidencia de 2-3 nucleolos, corresponde a un Eritroblasto basófilo. B) Células de tamaño medio, con abundante citoplasma violeta-grisáceo, posee un núcleo excéntrico con cromatina laxa-gruesa, corresponden a Eritroblastos policromatófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_2.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o Eritroleucemia. Eritroblasto policromatófilo displásico (presenta un núcleo trilobulado) con un cuerpo de Howell-Jolly. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_3.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o Eritroleucemia. Precursores eritroides displásicos. La microfotografía muestra Eritroblastos basófilos y policromatófilos con núcleos displásicos y algunas presentan cuerpos de Howell-Jolly. Se observan también celularidad mieloide displásicos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_4.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o Eritroleucemia. Precursores eritroides. A) Eritroblasto en división mitótica, B) Eritroblastos policromatófilos, C) Proeritroblasto, D) Eritroblastos ortocromáticos; E) Eritroblastos basófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_5.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o Eritroleucemia. Precursores eritroides: A) Proeritroblastos. B) Eritroblastos basófilos. C) Eritroblastos policromatófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_6.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o Eritroleucemia. Precursores eritroides: A) Eritroblastos basófilos que presentan vacuolización citoplásmica. B) Eritroblastos basófilos de menor tamaño con vacuolización citoplásmica. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_7.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o Eritroleucemia. Precursores eritroides: proeritroblastos, eritroblastos basófilos, eritroblastos policromatófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_8.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o Eritroleucemia. Precursores eritroides. En el centro de la microfotografía se observa un Proeritroblasto con núcleo displásico (trinucleado). Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_9.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o Eritroleucemia. Precursores eritroides, algunos presentan displasia nuclear y citoplásmica. Se observan también precursores mieloides displásicos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_10.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia aguda mieloide aguda M6 o eritroleucemia. Precursores eritroides: proeritroblastos con citoplasma basófilo irregular, algunos presentan vacuolización citoplásmica, poseen un núcleo grande con cromatina laxa evidencian nucleolos; eritroblastos policromatófilos de gran tamaño con citoplasma irregular. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_11.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o eritroleucemia. Precursores eritroides: eritroblasto basófilo multinucleado (displásico), de gran tamaño con citoplasma abundante, basófilo e irregular; denotan núcleos con cromatina gruesa. Se observan, además, eritroblastos policromatófilos, ortocromáticos y en el centro un eritroblasto basófilo irregular rodeado de más células de linaje eritroide y algunos precursores mieloides. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_12.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o eritroleucemia. Precursores eritroides: las células presentan citoplasma abundante basófilo y vacuolado, son proeritroblastos, y eritroblastos basófilos neoplásicos, uno de ellos es binucleado. Algunas células presentan vacuolización citoplásmica. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_13.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o eritroleucemia. Precursores eritroides: A) Precursor eritroide en maduración, con núcleos displásicos; B) Proeritroblastos neoplásicos; C) Mieloblasto. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>

      <div class="bloque">
        <img src="imagenes/recursos2/M6_14.png" alt="Leucemia Eritroide Aguda/Entroleucemia (LMA M6)" class="clickable-img" />
        <p>Leucemia mieloide aguda M6 o Eritroleucemia. La fotomicrografía muestra precursores eritrocitarios: A) Célula de tamaño grande, con abundante citoplasma intensamente basófilo, posee un núcleo redondo con cromatina laxa, evidencia de 2–3 nucleolos, corresponde a un Eritroblasto basófilo. B) Células de tamaño medio, con abundante citoplasma violeta-grisáceo, posee un núcleo excéntrico con cromatina laxa-gruesa, corresponden a Eritroblastos policromatófilos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
      </div>


      </div>

      <div class="carousel-controls">
        <button class="btn" id="prevBtn">← Anterior</button>
        <div class="counter" id="counter">1 de 14</div>
        <button class="btn" id="nextBtn">Siguiente →</button>
      </div>
    </div>
</main>

  <!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
