<main class="main-content">
  <a href="/linfoides2" class="back-button">Volver</a>
    <h1>Leucemia Mieloide Aguda con diferenciación (LMA M2)</h1>
    <p>Explora las imágenes y descripciones del recurso histológico con tinción de Wright, objetivo 100x.</p>
<!--Revisado-->
    <!-- ====== Carrusel de imágenes ====== -->
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">

        <article class="bloque">
          <img src="imagenes/recursos2/img29.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 1" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. Médula ósea. Mieloblasto tipo II con bastones de Auer. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img30.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 2" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. Médula ósea. Mieloblasto tipo II con bastón de Auer de gran tamaño, nucleolo evidente, cromatina fina, escaso citoplasma basófilo. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img31.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 3" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. Mieloblasto tipo II, con bastones de Auer y mayor cantidad de gránulos azurófilos, citoplasma basófilo, aparato de Golgi visible. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img32.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 4" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. Mieloblasto tipo II con gránulos azurófilos y bastones de Auer y dos neutrófilos maduros de apariencia displásica. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img33.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 5" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. Mieloblasto tipo II con granulación azurófila evidente, múltiples bastones de Auer y un gran nucleolo. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img34.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 6" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación. Celularidad mieloide, se observan distintas etapas de maduración de la línea granulocítica: A) Mieloblasto tipo I, B) Mieloblastos tipo II, C) Mielocito. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img35.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 7" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación. Celularidad mieloide, se observan distintas etapas de maduración de la línea granulocítica: A) Mieloblasto tipo I y B) Mieloblastos tipo II. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img36.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 8" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. Precursores granulocíticos: A) Mieloblasto I, B) Mieloblasto II, C) Promielocito con abundante citoplasma y mayor cantidad de gránulos que el mieloblasto II, D) Mielocito con una masa de gránulos secundarios de color café claro cercana a la hendidura nuclear, E) Célula con cromatina gruesa y aspecto "linfoide" que es en realidad, una célula mieloide más primitiva que los blastos (estas células son identificadas como mieloides por inmunohistoquímica). Sangre periférica. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img37.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 9" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. Celularidad granulocítica: A) Mieloblasto tipo I, B) Mieloblastos tipo II. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img38.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 10" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. Precursores mieloides tinción citoquímica positiva para actividad enzimática para Mieloperoxidasa. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img39.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 11" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. Promielocito tinción citoquímica intensamente positivo para actividad enzimática para Mieloperoxidasa. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img40.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 12" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. Precursores mieloides tinción citoquímica positiva para actividad enzimática para Mieloperoxidasa, evidentes bastones de Auer. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img41.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 13" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. Precursores mieloides tinción citoquímica positiva para actividad enzimática para Mieloperoxidasa. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img42.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 14" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. A) Mieloblasto tipo II y B) Promielocito, tinción citoquímica positiva para actividad enzimática para Mieloperoxidasa. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img43.png" alt="Leucemia Mieloide Aguda con diferenciación (LMA M2) - imagen 15" class="clickable-img" />
          <p>Leucemia mieloide aguda con diferenciación M2. Precursores mieloides tinción citoquímica positiva para actividad enzimática para Mieloperoxidasa. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo de inmersión 100x.</p>
        </article>

      </div>

      <div class="carousel-controls">
        <button class="btn" id="prevBtn">← Anterior</button>
        <div class="counter" id="counter">1 de 15</div>
        <button class="btn" id="nextBtn">Siguiente →</button>
      </div>
    </div>
</main>

  <!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
