<main class="main-content">
  <a href="/linfoides2" class="back-button">Volver</a>
    <h1>Leucemia Mieloide Aguda con poca Diferenciación (LMA M1)</h1>
    <p>Explora las imágenes y descripciones del recurso histológico con tinción de Wright, objetivo 100x.</p>
<!--Revisado-->
    <!-- ====== Carrusel de imágenes ====== -->
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">

        <article class="bloque">
          <img src="imagenes/recursos2/img14.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 1" class="clickable-img" />
          <p>Célula de tamaño medio, con citoplasma basófilo con escasos gránulos azurófilos, el núcleo presenta una cromatina fina y se observan nucleolos definidos, la célula corresponde a Mieloblasto tipo I. Leucemia mieloide aguda con poca diferenciación M1. Médula ósea. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img15.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 2" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. A) Mieloblasto tipo II con presencia de dos bastones de Auer. Médula ósea. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img16.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 3" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. B) Mieloblasto tipo I. Médula ósea. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img17.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 4" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. Mieloblasto tipo II, evidencia un gran nucleolo prominente, sus gránulos azurófilos se alinearon y formaron un gran bastón de Auer. Médula ósea. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img18.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 5" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. En la leucemia M1 se encuentra maduración más allá del mieloblasto: Precursores neutrófilos: promielocito, mielocitos y metamielocitos. Médula ósea. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img19.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 6" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. Mielocitos neutrófilos. Médula ósea. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img20.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 7" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. Mieloblasto tipo II con pequeños bastones de Auer. Médula ósea. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img21.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 8" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. Mieloblasto tipo II con bastones de Auer. Médula ósea. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img22.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 9" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. A) Mieloblastos tipo I y B) Mieloblastos tipo II, se logran apreciar bastones de Auer. Médula ósea. Tinción de Wright. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img23.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 10" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. Mieloblastos con escasos gránulos azurófilos, tinción citoquímica positiva a actividad enzimática para la Mieloperoxidasa, debido a que apenas comienza la producción de gránulos primarios, sólo algunos mieloblastos son positivos a esta tinción. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img24.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 11" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. Mieloblasto con poca producción de gránulos azurófilos, tinción citoquímica positiva a actividad enzimática para la Mieloperoxidasa, por la alineación de los gránulos, uno de ellos forma un bastón de Auer. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img25.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 12" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. Mieloblastos con poca producción de gránulos azurófilos, tinción citoquímica positiva a actividad enzimática para la Mieloperoxidasa. Leucemia mieloide aguda con poca diferenciación M1. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img26.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 13" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. Mieloblasto tipo II con abundante granulación azurófila, tinción citoquímica positiva a actividad enzimática para la Mieloperoxidasa, se observa un bastón de Auer de gran tamaño. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img27.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 14" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. Mieloblasto tipo II con abundante granulación azurófila, tinción citoquímica positiva a actividad enzimática para la Mieloperoxidasa. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo 100× inmersión.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/img28.png" alt="Leucemia Mieloide Aguda con poca Diferenciación (LMA M1) – imagen 15" class="clickable-img" />
          <p>Leucemia mieloide aguda con poca diferenciación M1. Mieloblastos tipo II con moderada granulación azurófila, tinción citoquímica positiva a actividad enzimática para la Mieloperoxidasa, evidencia bastones de Auer de gran tamaño. Médula ósea. Tinción citoquímica para el estudio de la Mieloperoxidasa. Objetivo 100× inmersión.</p>
        </article>

      </div>

      <div class="carousel-controls">
        <button class="btn" id="prevBtn">← Anterior</button>
        <div class="counter" id="counter">1 de 15</div>
        <button class="btn" id="nextBtn">Siguiente →</button>
      </div>
    </div>
</main>

  <!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
