<main class="main-content">
  <a href="/linfoides2" class="back-button">Volver</a>
    <h1>Leucemia Mielomonocítica Crónica (LMMC)</h1>
    <p>Explora las imágenes y descripciones del recurso histológico con tinción de Wright, objetivo 100x.</p>
<!--Revisado-->
    <!-- ====== Carrusel de imágenes ====== -->
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_1.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 1" class="clickable-img" />
          <p>Leucemia Mielomonocítica crónica (LMMC). Célula mieloide: etapas intermedias de la línea granulocítica y celularidad monocítica con cambios displásicos: A) Monocitos, B) Etapas intermedias de granulocitos, C) Neutrófilos maduros, D) Eritroblastos policromatófilo. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_2.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 2" class="clickable-img" />
          <p>Leucemia mielomonocítica cronica (LMMC). Celularidad mieloide: granulocitos y celularidad monocítica con cambios displásicos sujestivos: A) Monocitos, B) Monocitos con cambios nucleares displásicos, C) Neutrófilos maduros, D) Basófilo displásico. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_3.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 3" class="clickable-img" />
          <p>Leucemia mielomonocítica crónica (LMMC). Celularidad mieloide: A) Monoblasto, B) Neutrófilos maduros y C) Monocito, se observan abundantes plaquetas. Medula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_4.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 4" class="clickable-img" />
          <p>Leucemia mielomonocítica crónica (LMMC). Celularidad mieloide: A) Celularidad de aspecto híbrido monocítico con granulación azurófila, B) Neutrófilos maduros, C) Monocitos. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_5.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 5" class="clickable-img" />
          <p>Leucemia mielomonocítica crónica (LMMC). Celularidad mieloide: A) Neutrófilos maduros, B) Célula displásica monocítica; Neutrófilo displásico con núcleo en forma de dona(*). Sangre periférica. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_6.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 6" class="clickable-img" />
          <p>Leucemia mielomonocítica crónica (LMMC). Celularidad mieloide: A) Neutrófilo maduro, B) Célula monocítica con un nucleo displasico en forma de dona, C) Neutrófilo con un núcleo de aspecto picnótico en proceso de apoptosis. Sangre periférica. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_7.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 7" class="clickable-img" />
          <p>Leucemia mielomonocítica crónica (LMMC). Granulocitos: A) Basófilos, B) Neutrófilos maduros. C) Linfocito, D) Monocito, E) Monocito con un núcleo displásico. Médula ósea. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_8.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 8" class="clickable-img" />
          <p>Leucemia mielomonocítica crónica (LMMC). A) Monoblastos, células de tamaño medio a grande, abundante citoplasma basófilo con vacuolización citoplasma, núcleo que presenta cromatina fina en la que se evidencia 2-3 nucleolos prominentes. B) Promonocito, con presencia de gránulos, C) Monocito. Sangre periférica. Tinción de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_9.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 9" class="clickable-img" />
          <p>Leucemia mielomonocítica cronica (LMMC). Monoblastos. Medula osea. Tincion de Wright. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_10.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 10" class="clickable-img" />
          <p>Leucemia mielomonocítica crónica (LMMC). Serie monocítica, tinción citoquímica positiva para actividad enzimática de alfa-naftil acetato esterasa. Médula ósea. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_11.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 11" class="clickable-img" />
          <p>Leucemia mielomonocítica crónica (LMMC). Serie monocítica, tinción citoquímica positiva para actividad enzimatica de alfa-naftil acetato esterasa. Medula osea. Objetivo de inmersion 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_12.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 12" class="clickable-img" />
          <p>Leucemia mielomonocítica crónica (LMMC). Serie monocítica, tinción citoquímica positiva para actividad enzimatica de alfa-naftil acetato esterasa. Médula ósea. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_13.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 13" class="clickable-img" />
          <p>Leucemia mielomonocítica crónica (LMMC). Serie monocítica, tinción citoquímica positiva para actividad enzimática de alfa-naftil acetato esterasa. Médula ósea. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_14.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 14" class="clickable-img" />
          <p>Leucemia mielomonocítica crónica (LMMC). Serie monocítica, tinción citoquímica positiva para actividad enzimatica de alfa-naftil acetato esterasa (celula tenida de rojo-cafe), linea mieloide negativa. Medula osea. Objetivo de inmersión 100x.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos2/mieLMC_15.png" alt="Leucemia Mielomonocítica Crónica (LMMC) – imagen 15" class="clickable-img" />
          <p>Leucemia mielomonocítica crónica (LMMC). Serie granulocítica, tinción citoquímica negativa para actividad enzimatica de alfa-naftil acetato esterasa, A) Linaje monocítico ligeramente positivo para la tinción citoquímica. Médula ósea. Objetivo de inmersión 100x.</p>
        </article>

      </div>

      <div class="carousel-controls">
        <button class="btn" id="prevBtn">← Anterior</button>
        <div class="counter" id="counter">1 de 15</div>
        <button class="btn" id="nextBtn">Siguiente →</button>
      </div>
    </div>
</main>

  <!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
