<main class="main-content">
  <a href="/linfoides1" class="back-button">Volver</a>
    <h1>Leucemia NK</h1>
    <p>Explora las imágenes y descripciones del recurso histológico con tinción de Wright, objetivo 100×.</p>
<!--Revisado-->
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">
        <article class="bloque">
          <img src="imagenes/recursos/leul62.png" alt="Leucemia NK – imagen 1" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Célula de tamaño grande presenta abundante citoplasma basófilo, denota una granulación azurófila gruesa y un núcleo regular que posee una cromatina condensada sin evidencia de nucleolos; corresponde a un linfocito NK normal. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul63.png" alt="Leucemia NK – imagen 2" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Célula de tamaño grande con un abundante citoplasma basófilo, granulación azurófila gruesa y un núcleo regular que posee una cromatina condensada sin evidencia de nucleolos; corresponde a un linfocito NK normal. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul64.png" alt="Leucemia NK – imagen 3" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Linfocitos NK de aspecto displásico: denotan abundante citoplasma basófilo, algunas vacuolas citoplásmicas, granulación azurófila gruesa (característica de las celulas NK), los núcleos con cromatina condensada. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul65.png" alt="Leucemia NK – imagen 4" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Linfocitos NK de tamaño medio y grande de aspecto displásico, denotan abundante citoplasma basófilo, algunos presentan granulación azurófila gruesa, los núcleos poseen una cromatina condensada y aún conservan nucleolo no bien definido. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul66.png" alt="Leucemia NK – imagen 5" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Linfocitos NK de tamaño medio a grande de aspecto displásico, denotan abundante citoplasma basófilo, granulación azurófila gruesa, los núcleos poseen una cromatina condensada y aun conservan nucleolo no bien definido. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul67.png" alt="Leucemia NK – imagen 6" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Linfocitos NK displásico, denotan abundante citoplasma basófilo, vacuolización citoplásmica, granulación azurófila gruesa, presentan núcleos con cromatina condensada y nucleolo no bien definido. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul68.png" alt="Leucemia NK – imagen 7" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Linfocitos NK de tamaño medio a grande de aspecto displásico, presentan abundante citoplasma basófilo, granulación azurófila gruesa, sus núcleos poseen una cromatina condensada y aún conservan nucleolo no bien definido. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul69.png" alt="Leucemia NK – imagen 8" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Linfocitos NK de aspecto displásico, denotan abundante citoplasma basófilo, vacuolización citoplásmica y granulación azurófila gruesa (característica de las células NK), los núcleos poseen una cromatina condensada y aún conservan nucleolo no bien definido. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul70.png" alt="Leucemia NK – imagen 9" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Linfocitos NK de aspecto displásico, denotan abundante citoplasma basófilo, vacuolización citoplásmica, granulación azurófila gruesa, presentan núcleos con una cromatina condensada y aún conservan nucleolo no bien definido. A) Eosinófilo; B) Sombra de Gumprecht. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul71.png" alt="Leucemia NK – imagen 10" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Abundantes linfocitos NK displásico: denotan abundante citoplasma basófilo, vacuolización citoplásmica, granulación azurófila gruesa, los núcleos poseen una cromatina condensada y aún conservan nucleolo no bien definido. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul72.png" alt="Leucemia NK – imagen 11" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Linfocitos NK de aspecto displásico, denotan abundante citoplasma basófilo, vacuolización citoplásmica, granulación azurófila gruesa, los núcleos poseen una cromatina condensada y aún conservan nucleolo no bien definido. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul73.png" alt="Leucemia NK – imagen 12" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Linfocitos NK de aspecto displásico. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul74.png" alt="Leucemia NK – imagen 13" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Linfocitos NK de aspecto displásico, denotan abundante citoplasma basófilo, vacuolización citoplásmica, granulación azurófila gruesa, presentan núcleos con cromatina condensada y aún conservan nucleolo no bien definido. A) Neutrófilo; B) Linfocito pequeño. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul75.png" alt="Leucemia NK – imagen 14" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Linfocitos NK de aspecto displásico, denotan abundante citoplasma basófilo, vacuolización citoplásmica, granulación azurófila gruesa, los núcleos poseen una cromatina condensada y aún conservan nucleolo no bien definido. A) Linfocito que morfológicamente presenta anormalidades nucleares (binucleación); se observa un linfocito normal (*). Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>

        <article class="bloque">
          <img src="imagenes/recursos/leul76.png" alt="Leucemia NK – imagen 15" class="clickable-img" />
          <p>Leucemia de células Natural Killer (NK). Linfocitos NK de aspecto displásico, denotan abundante citoplasma basófilo, vacuolización citoplásmica, granulación azurófila gruesa, los núcleos poseen una cromatina condensada y aún conservan nucleolo no bien definido. A) Eosinófilo; B) Neutrófilo segmentado. Extendido sanguíneo. Tinción de Wright. Objetivo de inmersión 100×.</p>
        </article>
      </div>

      <div class="carousel-controls">
        <button class="btn" id="prevBtn">← Anterior</button>
        <div class="counter" id="counter">1 de 15</div>
        <button class="btn" id="nextBtn">Siguiente →</button>
      </div>
    </div>
</main>

  <!-- Modal para imagen -->
<div id="modalImagen">
  <img id="imgModal" src="" alt="" />
</div>

<script src="/js/img.js"></script>
