<div class="login-container">
  <div class="login-box">
    <h2 class="login-title">Iniciar Sesión</h2>

    {{#if message}}
      <div class="alert alert-danger text-center">
        {{message}}
      </div>
    {{/if}}

    {{#if success}}
      <div class="alert alert-success text-center">
        {{success}}
      </div>
    {{/if}}

    <form action="/signin" method="POST">
      <label for="username">Nombre de usuario</label>
      <input type="text" name="username" placeholder="Tu usuario">

      <label for="contraseña">Contraseña</label>
      <input type="password" name="contraseña" placeholder="••••••••">

      <button type="submit" class="primary-btn w-100">Entrar</button>
    </form>

    <p class="login-footer">
      ¿No tienes cuenta? <a href="/signup">Regístrate</a>
    </p>
  </div>
</div>

<!-- Modal genérico para mensajes de Login/Signup -->
<div id="messageModal" class="message-modal">
  <div class="message-content">
    <p id="messageText"></p>
    <button id="messageCloseBtn">Aceptar</button>
  </div>
</div>

<script src="/js/auth.js"></script>